[user]
        name = {{ full_name }}
        email = {{ git_email }}
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        editor = vim
[difftool]
        prompt = false
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = simple
        followTags = true
[github]
        user = {{ git_user }}
